[workspace]
members = [
	"programs/*",
]
exclude = [
	"deps/serum-dex"
]

# [profile.release]
# lto = "fat"
# codegen-units = 1

# [profile.release.build-override]
# opt-level = 3
# incremental = false
# codegen-units = 1
