ENDPOINT=https://api.devnet.solana.com
WS_ENDPOINT=wss://api.devnet.solana.com
ENV=devnet

RUNNING_LOCAL=true
LOCAL_CACHE=true
ELASTICACHE_HOST=localhost
ELASTICACHE_PORT=6379
REDIS_CLIENT=DLOB

METRICS_PORT=9465
INDICATIVE_QUOTES_MAX_AGE_MS=1000
INDICATIVE_QUOTES_CACHE_TTL_MS=250

INDICATIVE_TO_MAKER_AUTHORITY_MAP='{"7yivAV6EE7PofhvnjnGJMsL2qrnxVXzvGgrkSDQiveK6":"GXyE3Snk3pPYX4Nz9QRVBrnBfbJRTAQYxuy5DRdnebAn","CHmpeeywt1xkXUubKnCRV3DymSJ1xtMVSRhZcJepBamU":"BxTExiVRt9EHe4b47ZDQLDGxee1hPexvkmaDFMLZTDvv","wvTxWGdSG6aV4zShf3CFzPPwTuw6eZsZTrpRNRSkVL9":"E69Pb3EoqrEYjNzFuw2JyEerwyPBFVdGZwmWoDzT9LVL","BroTbC7irNtmQdxcq5BxgYXkkdgJqYWccfBVydt6nMhe":"EibQ2VYpzj18qSdEBkmxWVzde7FzamTxVG9rZyY689Yj"}'

ENABLE_MOCK_FILL_ENDPOINT=true
MOCK_ONLY_MODE=true
MOCK_FILL_PORT=9470

MOCK_MARKET_TYPE=perp
MOCK_MARKET_INDEX=0
MOCK_QUOTES_JSON=[{"maker":"CHmpeeywt1xkXUubKnCRV3DymSJ1xtMVSRhZcJepBamU","side":"long","price":99.8,"size":10},{"maker":"CHmpeeywt1xkXUubKnCRV3DymSJ1xtMVSRhZcJepBamU","side":"long","price":99.9,"size":2},{"maker":"wvTxWGdSG6aV4zShf3CFzPPwTuw6eZsZTrpRNRSkVL9","side":"long","price":101,"size":1},{"maker":"CHmpeeywt1xkXUubKnCRV3DymSJ1xtMVSRhZcJepBamU","side":"short","price":101.1,"size":2}]
MOCK_FILLS_JSON=[{"maker":"C13FZykQfLXKuMAMh2iuG7JxhQqd8otujNRAgVETU6id","side":"long","fillPrice":99.9,"fillSize":1,"oraclePrice":99.95}]
